<ui-view>
    <div>
        <button class="button" type="submit" ng-click="Addmember()">Add</button>
    </div>
    <br>
    <div>
        <table class="table table-bordered">
            <tr>
                <th class="text-center">
                    Username
                </th>
                <th class="text-center">
                    User Message
                </th>
            </tr>
            <tbody ng-repeat="i in datalist" class="text-center">
                <td>
                    {{i.name}}
                </td>
                <td>
                    {{i.msg}}
                </td>
            </tbody>
        </table>
    </div>
    <script type="text/ng-template" id="addmember.html">
        <div class="back">
            <div class="user">
                Username:
                <input type="text" placeholder="Enter Name" ng-model="data.name">
            </div>
            <br>
            <div class="mes">
                User Msg:
                <input type="text" placeholder="Enter Message" ng-model="data.msg">
            </div>
            <br>
            <button type="submit" class="sub" ng-click="savedetails(data)">Submit</button>
        </div>
    </script>
</ui-view>
<style type="text/css">
    .back {
    background-color: #a6e9ec;
    border-radius: 6px;
}

td {
    background-color: #f2f2f2;
}

th {
    background-color: #446d90;
    ;
    color: white;
}

.user {
    margin-left: 161px;
    padding: 18px;
}

.mes {
    margin-left: 182px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 450px;
    margin-top: 14px;
    cursor: pointer;
}

.sub {
    background-color: #1c8bc1;
    ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 244px;
    margin-top: 56px;
    cursor: pointer;
    margin-bottom: 27px;

</style>
